@* culture Template File *@ @(param: Any)

<!--body content on home page -->

<h2>Our Insights</h2>
<img src=" @routes.Assets.at("images/page2.jpg")" width="90%"
	alt="FRAMEWORK">
	
<p align="justify">We are dedicated to rapidly delivery quality
	projects on time and under budget. We work in pairs; provide remarkable
	code coverage on tests; and integrate continuously. We provide weekly
	demonstrations to the stake holders so that the product can adjust and
	adapt to the changing business dynamics. We believe in utmost
	transparency and glass house development.</p>
	
<p class="text-align-left">
	<a href="#">Our Insights&nbsp;›</a>
</p>
