@* updateForm Template File *@ 
@(userForm:Form[Knol])(implicit flash:Flash) 

@import helper._ 
@import helper.twitterBootstrap._

<!--registration form for the user-->

<div class="panel panel-primary" style="width:70%; margin-left: 10% ; ">
	<div class="panel-heading">Fill the Registration Form</div>
	<div class="panel-body" style="padding-left: 20% ; ">

		@helper.form(action = routes.Application.userFormSubmit()) {

		<div style="margin-left: 100px;">
			@helper.inputText(userForm("name"),'_label->"User Name")
			@helper.inputText(userForm("address"),'_label->"address")
			@helper.inputText(userForm("company"),'_label->"company")
			@helper.inputText(userForm("email"),'_label->"email")
			@helper.inputPassword(userForm("password"),'_label->"password")
			@helper.inputText(userForm("mobile"),'_label->"mobile")

			<button type="submit" class="btn btn-success btn-md" value="REGISTER">REGISTER</button>
			<a href= @routes.Application.index()" class="btn btn-success btn-md">Cancel</a>
		</div>
		}
	</div>
</div>
