@* frameworks Template File *@ 
@(param: Any)

<!--body content on home page -->
<h2>Our Trainings</h2>

<img src=" @routes.Assets.at("images/download.jpg")" width="90%"
	alt="FRAMEWORK">

<p align="justify">We got on the functional programming bandwagon in
	late 2008 before it was fully accepted by development community. We
	recognized the advantages and strengths of functional programming and
	committed to mastering it. We delivered one of the first enterprise
	implementations of scala with the Alerting System at D&B. Since then,
	Knoldus has been on the forefront of Scala, Akka, Clojure and Haskell,
	delivering multiple products on the functional technology stack.</p>
<p class="text-align-left">
	<a href="#">Our Trainings&nbsp;›</a>
</p>
