@(param:Any)(implicit flash: Flash) 

<!--Home Page -->

@main("home"){
	<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
		<h1 class="text-align-center" style="margin-left: 20%">&nbsp;&nbsp;Experience the meet ups at Knoldus
		<br>Be a part of Knowledge sharing sessions</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		@frameworks("")
	</div>
	<div class="col-md-4">
		@team("")
	</div>
	<div class="col-md-4">
		@culture("")
	</div>
</div>	
</div>
	
		
}
