@* menu Template File *@
@(param: Any)

<!--menu bar on the home page(component main page)-->
<div class="row menu">
			<div class="col-md-12 col-sm-12">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span><span class="icon-bar"></span><span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" style="padding-top: 20%;" href="#"><span
								class="glyphicon glyphicon-home"></span></a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<div class="nav navbar-nav btns">
								<button type="button" class="btn btn-default">Features</button>
								<button type="button" class="btn btn-default">NewsFeeds</button>
								<button type="button" class="btn btn-default">Links</button>
								<button type="button" class="btn btn-default">Wrappers</button>
								<button type="button" class="btn btn-default">Gallery</button>
							</div>

							<ul class="nav navbar-nav navbar-right">
								<br>
								<form class="form-inline" role="form" style="margin-top: -8%;">
									<div class="form-group">
										<input type="search" class="form-control" id="search"
											placeholder="Search here...">
										<button type="submit" class="btn btn-default">Submit</button>
									</div>
								</form>
							</ul>
						</div>
					</div>
				</nav>
			</div>